<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.interns.internscopeapp">

    <uses-feature
        android:name="android.hardware.telephony"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.InternscopeApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".SplashScreen"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".EditJobActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".CompanyDashboard"
            android:exported="false" />
        <activity
            android:name=".CompanyEditProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".CompanyProfile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".CompanySignup"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Company_login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="paymentcallback"
                    android:scheme="internscopeapp" />
            </intent-filter>
        </activity>
        <activity
            android:name=".EditProfiles"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>

        <activity
            android:name=".PostJob"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Packages"
            android:exported="false" />
        <activity
            android:name=".Subscription"
            android:exported="false" />
        <activity
            android:name=".Profile"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".Jobs"
            android:exported="false" />
        <activity
            android:name=".JobDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ApplyJobActivity"
            android:exported="false" />
        <activity
            android:name=".Opportunity"
            android:exported="false" />
        <activity
            android:name=".Courses"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Alert"
            android:exported="false" />
        <activity
            android:name=".Verify"
            android:exported="true">
            <intent-filter android:autoVerify="true">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="reset-password"
                    android:scheme="http://192.168.0.104:4000" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SignUp"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ForgotPass"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false"
            android:windowSoftInputMode="adjustResize"
            />
        <activity
            android:name=".MainActivity"
            android:exported="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <meta-data
            android:name="com.google.android.gms.auth.api.credentials.WorkerImpl.signin.api.key"
            android:value="default_web_client_id" />
    </application>

</manifest>